@page
@model RazorPagesShowSearcher.Pages.Shows.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Show[0].ShowName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Show[0].ShowDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Show[0].ShowRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Show[0].NumOfSeasons)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Show[0].YearShowBegan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Show[0].Genra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Show[0].ShowTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Show[0].OriginalNetwork)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Show) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShowName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShowDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShowRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfSeasons)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearShowBegan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShowTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalNetwork)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
